# Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log
*.pot
*.env
*.venv
venv/
env/
staticfiles/
media/

# .env file
.env

# Autres
*.DS_Store
.idea/
.vscode/

# macOs
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini
